{% extends "pages/layouts/base.html" %}
{% load booking_extras %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/student-workshops.css' %}?version=3">
{% endblock %}


{% block content %}
<div style="text-align: center">
    {% block booking_list %}
    <div style="margin:1%;">
        <h2>Upcoming Bookings</h2>
        <table style="width:100%">
            <tr>
                <td> Location </td>
                <td> Advisor </td>
                <td> Date </td>
                <td> From </td>
                <td> To </td>
                {% comment %} <td> Location </td> {% endcomment %}
                <td>  </td>
            </tr>
            {% if currentSessions %}
                {% for session in currentSessions %}
                <tr>
                    <td> {{ session.location }} </td>
                    <td> {{ session.staff.first_name }} {{session.staff.last_name}} </td>
                    <td> {{ session.date }} </td>
                    <td> {{ session.start_time }} </td>
                    <td> {{ session.end_time }} </td>
                    <td><a href="/bookings/cancel?sessionid={{ session.session_ID }}" onclick="return confirm('Are you sure you want to cancel this session?')"> Cancel </a></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr><td colspan="7">
                    <p> No upcoming bookings. </p>
            </td></tr>
            {% endif %}
        </table>
        <h2>Past Bookings</h2>
        <table style="width:100%">
                <tr>
                    <td> Location </td>
                    <td> Advisor </td>
                    <td> Date </td>
                    <td> From </td>
                    <td> To </td>
                    {% comment %} <td> Location </td> {% endcomment %}
                    <td>  </td>
                </tr>
                {% if pastSessions %}
                    {% for session in pastSessions %}
                        <tr>
                            <td> {{ session.location }} </td>
                            <td> {{ session.staff.first_name }} {{session.staff.last_name}} </td>
                            <td> {{ session.date }} </td>
                            <td> {{ session.start_time }} </td>
                            <td> {{ session.end_time }} </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">
                        <p> No past bookngs. </p>
                    </td>   
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    {% endblock %}
{% endblock %}