
 {% extends "pages/layouts/base.html" %}
 {% block content %}

<!doctype html>
<html>
        <body  style = "text-align:center">    
                <h2>Frequently Asked Questions</h2>
        <ol>
        
        <h4><a href ="#h1" style="color:red">About the HELPS program</a></h4>
        
        <li><a href="#q1" style="color:rgba(255, 0, 0, 0.596)">Who can use HELPS?</a></li>
        <li><a href="#q2" style="color:rgba(255, 0, 0, 0.596)">Where is HELPS?</a></li>
        <li><a href="#q3" style="color:rgba(255, 0, 0, 0.596)">How much does it cost?</a></li>
        <li><a href="#q4" style="color:rgba(255, 0, 0, 0.596)">Can you help me with my assignment?</a></li>
        <li><a href="#q5" style="color:rgba(255, 0, 0, 0.596)">Can you proofread and correct my assignment?</a></li>
        <li><a href="#q6" style="color:rgba(255, 0, 0, 0.596)">Can you help me with the content of my assignment?</a></li>
        <li><a href="#q7" style="color:rgba(255, 0, 0, 0.596)">My lecturer says I need to improve my grammar. Can you help me?</a></li>
        <li><a href="#q8" style="color:rgba(255, 0, 0, 0.596)">Can you help me with my pronunciation?</a></li>
        <li><a href="#q9" style="color:rgba(255, 0, 0, 0.596)">Can I practise my seminar presentation with someone?</a></li>
        <br/>
        <h4><a href="#h2" style="color:red">About the Special Conditions in Exams</a></h4>
        
        <li><a href="#q10" style="color:rgba(255, 0, 0, 0.596)">I am not a native English speaker and I feel that I need more time in exams. Can you help?</a></li>
        <li><a href="#q11" style="color:rgba(255, 0, 0, 0.596)">I'm a second/third year student. Can I get special conditions in my exams?</a></li>
        <li><a href="#q12" style="color:rgba(255, 0, 0, 0.596)">What is the deadline to apply for the conditions?</a></li>
        </ol>
       <div style = "max-width: 400px">
        <img src="piece.jpg" style = "max-width:100%;"/>
        </div>

        
         
      

        <h4><a name = "h1"> About the HELPS program</a></h4>
        <ol>
           <li><p><a name = "q1">who can use HELPS?<br/>
                » Any student enrolled in any faculty at UTS.</a></p></li>
               
                <li><p><a name = "q2">Where is HELPS?<br/>
                » HELPS is located on Building 1, Level 5 , room 25</a></p></li>
                
                <li><p><a name = "q3">How much does it cost?<br/>
                » Services are free of tuition fees for non-credit workshops and individual consultations.</a></p></li>
                
                <li><p><a name = "q4">Can you help me with my assignment?<br/>
                » Yes. HELPS offers various workshops and individual consultations. For more information, check out our website.</a></p></li>
                
                <li><p><a name = "q5">Can you proofread and correct my assignment?<br/>
                » No. Our role is not to correct grammar or other errors in an assignment. We can help you develop your own editing strategies.<br/>
                You should also use a computer spell-check, find a competent friend and a good dictionary.</a></p></li>
               
            <li><p><a name = "q6">Can you help me with the content of my assignment?<br/>
                » No. We can’t tell you what to say, we can only help you say it better and more clearly.<br>
                While we’re happy to act as a sounding board for your ideas, content questions require the specialised disciplinary knowledge of lecturers and tutors in your faculty.<br/>
                You should take specific content questions directly to them.</a></p></li>
                
            <li><p><a name = "q7">My lecturer says I need to improve my grammar. Can you help me?<br/>
                » Yes. Please check our website for information on our workshops and Learning resources.</a></p></li>
                
            <li><p><a name = "q8">Can you help me with my pronunciation?<br/>
                » Yes. Please check our website for information on our English speaking programs, workshops and Learning resources.</a></p></li>
                
            <li><p><a name = "q9"></a>Can I practise my seminar presentation with someone?<br/> 
                » Yes. You can attend our workshops or drop in for an individual consultation session.</a></p></li>
            </ol>

            <h4><a name = "h2"> About the Special Conditions in Exams</a></h4>

            <ol>
                    <li><p><a name = "q10">I am not a native English speaker and I feel that I need more time in exams. Can you help?<br/>
                        » Maybe. You might be eligible to apply for Special Conditions in Exams.</a></p></li>
                    <li><p><a name = "q11"></a>I'm a second/third year student. Can I get Special Conditions in my exams?<br/> 
                        » No. Only first year (1st/2nd semester) students are eligible to apply.</a></p></li>   
                    <li><p><a name = "q12"></a>What is the deadline to apply for the Special Conditions?<br/> 
                        » The application closes on the Census date. Click on <a href = "https://www.uts.edu.au/current-students/support/helps/special" style="color:rgba(255, 0, 0, 0.596)">Special Conditions</a> in Exams for more information.</a></p></li>   
                    <p>If you have a question which has not been answered above, please email us: HELPS@uts.edu.au</p>
            </ol>

        
    </body>
</html>

{% endblock %}