{% extends "pages/layouts/base.html" %}

{% block content %}

<!doctype html>
<html lang="en">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Prata&display=swap');
                   h1{
                       font-family: 'Prata', serif;
                       font-size: 40px;
                       font-weight: bold; 
                   }

               
    </style>
        <body style = "text-align:center"></body>

            <div class="wrapper">
                <a href="https://pngtree.com/freebackground/red-gradient-triangle-polygon-banner-background-design_936965.html">
                    {%load static%}
                    <img  height = 300px width = 1800px src= "https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-red-gradient-triangle-polygon-banner-background-design-pagetrianglepolygondiamondtechnologygeometricscience-and-technologyhigh-image_57253.jpg">
                 </a>
            </div>
            <h1><a style = "color: rgb(245, 55, 70)">Programs page</a></h1>
        </body>
</html>
{% endblock %}