<html>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
   <td width='10%'>
   <a href="https://www.uts.edu.au/">
    <img src="cid:uts_logo_black.png" width="100%">
    </a>
   </td>
   <td width='15%'>
   <h1> HELPS </h1>
   </td>
   <td width='75%'>
   </td>
    </table>
  </tr>
   <tr>
   <td style='text-align: center; font-size: 14px;'>
    Your booked UTS HELPS session on {{ date }} from {{ starttime }} to {{ endtime }} in {{ location }} with {{ staffname }} has been {{word}}
   </td>
  </tr>
 </table>
</body>