{% extends "pages/layouts/base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin-session-style.css' %}">
    <script src="{% static 'sessions/sessions.js' %}"></script>
    
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css' rel='stylesheet'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>

    <script>
        $(document).ready(function() {
            
            var sessions= [];// = [{title: "test", start: "1019-12-02", end: "1019-12-02"}];
            
            var sessionTable = document.getElementById("object_list_table");

            for(var i = 1; i < sessionTable.rows.length; i++)
            {
                var theTime = sessionTable.rows[i].cells[3].innerHTML; //from column
                var theDate = new Date(sessionTable.rows[i].cells[2].innerHTML); //date column

                //get start time from column
                if (theTime.includes("p.m.")) {
                    var start = theTime.search((new Date()).getFullYear()) + 5;
                    var end = theTime.search("p.m.");
                    var hour = parseInt(theTime.substring(start, end));
                    start = theTime.search(":");
                    var minutes = start > -1 ? parseInt(theTime.substring(start + 1, end)) : 0
                    theDate.setHours(hour + 12);
                    theDate.setMinutes(minutes);
                }
                else if (theTime.includes("a.m.")) {
                    var start = theTime.search((new Date()).getFullYear()) + 5;
                    var end = theTime.search("a.m.");
                    var hour = parseInt(theTime.substring(start, end));
                    start = theTime.search(":");
                    var minutes = start > -1 ? parseInt(theTime.substring(start + 1, end)) : 0
                    theDate.setHours(hour);
                    theDate.setMinutes(minutes);
                }
                else if (theTime.includes("noon")) {
                    theDate.setHours(12);
                }

                // title = advisor, student, location
                sessions.push({title: sessionTable.rows[i].cells[1].innerHTML + " " + sessionTable.rows[i].cells[0].innerHTML + " " + sessionTable.rows[i].cells[5].innerHTML,
                                start: theDate});
                                //start: new Date(sessionTable.rows[i].cells[2].innerHTML)});
                                //end: sessionsTable.rows[i].cells[4].innerHTML});
            }

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: new Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: sessions
            });
        });
    </script>

{% endblock %}

{% block content %}
<body>

    {% block sub %}
    <div style="position:relative; float:right; margin-right:20px;">
            <span><a class='btn' href="{% url 'create_session' %}">Book session</a></span>
    </div>
    
    <h2>Sessions</h2>
    <div id="View" class="filter_box" style="height:20%">
        <form action="/search_sessions/" method="POST">
            {% csrf_token %}
            <div>
                <strong>Filter by: </strong>
                <div>
                    <span>Student ID
                        <input name="student_id" type="text">
                    </span>
                    <span>Student first name
                        <input name="stu_first_name" type="text">
                    </span>
                    <span>Student last name
                        <input name="stu_last_name" type="text">
                    </span>
                    <span>Advisor ID
                        <input name="advisor_id" type="text">
                    </span>
                    <span>Advisor first name
                        <input name="adv_first_name" type="text">
                    </span>
                    <span>Advisor last name
                        <input name="adv_last_name" type="text">
                    </span>
                    <span>Date
                        <input name="date" type="date">
                    </span>
                    <span>Start time
                        <input name="start_time" type="time">
                    </span>
                    <span>End time
                        <input name="end_time" type="time">
                    </span>
                </div>
            </div>
            <input type="submit" value="Search">
        </form>
    </div>

    {% endblock %}
    
    {% block booking_list %}

    <table id="object_list_table" class="table table-striped object_list_table">
        <tr>
            <td> Student </td>
            <td> Advisor </td>
            <td> Date </td>
            <td> From </td>
            <td> To </td>
            <td> Location </td>
            <td>  </td>
        </tr>
        {% if filtered_sessions %}
            {% for session in filtered_sessions %}
                <tr>
                    <td> {{ session.student }} </td>
                    <td> {{ session.staff }} </td>
                    <td> {{ session.date }} </td>
                    <td> {{ session.start_time }} </td>
                    <td> {{ session.end_time }} </td>
                    <td> {{ session.location }} </td>
                    <td><a href="/search_sessions/?sessionid={{ session.session_ID }}"> View/Edit </a></td>
                </tr>
            {% endfor %}
        {% else %}
           <tr><td>
                <p> No sessions found. </p>
           </td></tr>
        {% endif %}
    </table>
    {% endblock %}

    {% block calendar %}
    <br/>
    <div class="ui container">
        <div class="ui grid">
            <div class="ui sixteen column">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
{% endblock %} 
